@use "sass:color";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

$primary-color: #2d3748;
$secondary-color: #ffff;
$accent-color: #38a169;
$background-color: #888eba;
$primary-color-ligth: color.adjust($primary-color, $lightness: 30%);

body, html {
    overflow: hidden;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-input {
    background-color: $primary-color-ligth;
}
  
.text-secondary {
    color: $secondary-color;
}

.bg-accent {
    background-color: $accent-color;
}

.bg-color {
    background-color: $background-color;
}